<template>
  <header>
    <nav>
      <h1>
        <router-link to="/" class="app">revolutionary album administrator</router-link>
      </h1>
      <h2>v{{appVersion}}</h2>
      <ul>
        <li>
          <router-link to="/">list albums</router-link>
        </li>
        <li>
          <router-link to="/add">add new album</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { version } from '../../../package';
export default {
  data() {
    return {
      appVersion: version,
    };
  },
};
</script>

<style scoped>
header {
  width: 100%;
  height: 5rem;
  background-color: #ef9e0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  background-color: #00a170;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}

header a.app {
  background-color: transparent;
}

a:hover,
a.router-link-active {
  border: 1px solid #34568b;
  background-color: #34568b;
}

h1 {
  margin: 0;
}

h1 a {
  color: white;
  margin: 0;
}

h1 a:hover,
h1 a:active,
h1 a.router-link-active {
  border-color: transparent;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 0.5rem;
}
</style>