<template>
  <section>
    <raa-entry>
      <h2>Page not found</h2>
      <p>
        This page could not be found - maybe check out all our
        <router-link to="/">albums</router-link>.
      </p>
    </raa-entry>
  </section>
</template>