<template>
  <div>
    <dialog :show="!!error" title="An error occurred!" @close="handleError">
      <p>{{ error }}</p>
    </dialog>
    <section>
      <raa-entry>
        <h2>add a new album</h2>
        <album-form @save-data="saveData"></album-form>
      </raa-entry>
    </section>
  </div>
</template>

<script>
import AlbumForm from '../../components/albums/AlbumForm.vue';

export default {
  data() {
    return {
      error: null,
    };
  },
  components: {
    AlbumForm,
  },
  methods: {
    saveData(data) {
      this.$store.dispatch('albums/addAlbum', data);
      this.$router.replace('/');
    },
  },
};
</script>