<template>
  <div>
    <dialog :show="!!error" title="An error occurred!" @close="handleError">
      <p>{{ error }}</p>
    </dialog>
    <section>
      <raa-entry>
        <div class="controls">
          <raa-btn v-if="!isLoading" class="delete" @click="deleteAlbum(id)"
            >delete</raa-btn
          >
        </div>
        <div v-if="isLoading">
          <raa-spinner></raa-spinner>
        </div>
        <div>
          <h2>update an existing album</h2>
          <album-form
            v-if="!isLoading"
            v-bind:album="selectedAlbum"
            @save-data="updateData"
          ></album-form>
        </div>
      </raa-entry>
    </section>
  </div>
</template>

<script>
import AlbumForm from '../../components/albums/AlbumForm.vue';

export default {
  props: ['id'],
  data() {
    return {
      isLoading: true,
      error: null,
    };
  },
  components: {
    AlbumForm,
  },
  computed: {
    selectedAlbum() {
      return this.$store.getters['albums/album'];
    },
    title() {
      return this.selectedAlbum.title;
    },
    artist() {
      return this.selectedAlbum.artist;
    },
    released_in() {
      return this.selectedAlbum.released_in;
    },
  },
  async created() {
    if (!this.$store.getters['albums/hasAlbums']) {
      await this.$store.dispatch('albums/loadAlbums', { forceRefresh: true });
    }
    this.getSelectedAlbum();
  },
  methods: {
    async getSelectedAlbum() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('albums/loadAlbum', this.id);
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    deleteAlbum(id) {
      this.$store.dispatch('albums/deleteAlbum', id);
      this.$router.replace('/');
    },
    updateData(data) {
      this.$store.dispatch('albums/updateAlbum', data);
      this.$router.replace('/');
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
.controls {
  display: flex;
  justify-content: flex-start;
}
.delete {
  border-color: #ff5733;
  background-color: #ff5733;
  color: white;
}
.delete:hover {
  border-color: #ff3933;
  background-color: #ff3933;
  color: white;
}
</style>