<template>
  <div>
    <dialog :show="!!error" title="An error occurred!" @close="handleError">
      <p>{{ error }}</p>
    </dialog>
    <section>
      <raa-entry>
        <div class="controls">
          <raa-btn v-if="!isLoading" mode="outline" @click="loadAlbums(true)">reload</raa-btn>
        </div>
        <div v-if="isLoading">
          <raa-spinner></raa-spinner>
        </div>
        <ul v-else-if="hasAlbums">
          <album-entry
            v-for="album in albums"
            :key="album.id"
            :id="album.id"
            :title="album.title"
            :artist="album.artist"
            :released_in="album.released_in"
          ></album-entry>
        </ul>
        <h3 v-else>No albums found.</h3>
      </raa-entry>
    </section>
  </div>
</template>

<script>
import AlbumEntry from '../../components/albums/AlbumEntry.vue';

export default {
  components: {
    AlbumEntry,
  },
  data() {
    return {
      isLoading: false,
      error: null,
    };
  },
  computed: {
    albums() {
      return this.$store.getters['albums/albums'];
    },
    hasAlbums() {
      return !this.isLoading && this.$store.getters['albums/hasAlbums'];
    },
  },
  created() {
    this.loadAlbums();
  },
  methods: {
    async loadAlbums(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('albums/loadAlbums', {
          forceRefresh: refresh,
        });
      } catch (error) {
        this.error = error.message || 'Something went wrong!';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>