<template>
  <li>
    <h3>Title: {{ title }}</h3>
    <h4>Artist: {{ artist }}</h4>
    <div>
      Released in: {{ released_in }}
    </div>
    <div class="actions">
      <raa-btn class="entry" link :to="albumDetailsLink">Edit</raa-btn>
    </div>
  </li>
</template>

<script>
export default {
  props: ['id', 'title', 'artist', 'released_in', 'created_at', 'updated_at', 'url'],
  computed: {
    albumDetailsLink() {
      return this.$route.path + 'albums/' + this.id;
    },
  },
};
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #424242;
  padding: 1rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}
</style>