
<template>
  <form @submit.prevent="submitForm">
    <div class="form-control" :class="{ invalid: !title.isValid }">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        v-model.trim="title.val"
        @blur="clearValidity('title')"
      />
      <p v-if="!title.isValid">Title must not be empty.</p>
    </div>
    <div class="form-control" :class="{ invalid: !artist.isValid }">
      <label for="artist">Artist</label>
      <input
        type="text"
        id="artist"
        v-model.trim="artist.val"
        @blur="clearValidity('artist')"
      />
      <p v-if="!artist.isValid">Artist must not be empty.</p>
    </div>
    <div class="form-control" :class="{ invalid: !released_in.isValid }">
      <label for="released_in">Released in</label>
      <input
        type="number"
        id="released_in"
        v-model.trim="released_in.val"
        @blur="clearValidity('released_in')"
      />
      <p v-if="!released_in.isValid">Release-year must not be empty.</p>
    </div>
    <p v-if="!formIsValid">Please fix the above errors and submit again.</p>
    <raa-btn>save</raa-btn>
  </form>
</template>

<script>
export default {
  props: ['album'],
  emits: ['save-data'],
  data() {
    return {
      id: this.album ? this.album.id : null,
      title: {
        val: this.album ? this.album.title : '',
        isValid: true,
      },
      artist: {
        val: this.album ? this.album.artist : '',
        isValid: true,
      },
      released_in: {
        val: this.album ? this.album.released_in : '',
        isValid: true,
      },
      formIsValid: true,
    };
  },
  methods: {
    clearValidity(input) {
      this[input].isValid = true;
    },
    validateForm() {
      this.formIsValid = true;
      if (this.title.val === '') {
        this.title.isValid = false;
        this.formIsValid = false;
      }
      if (this.artist.val === '') {
        this.artist.isValid = false;
        this.formIsValid = false;
      }
      if (this.released_in.val === '') {
        this.released_in.isValid = false;
        this.formIsValid = false;
      }
    },
    submitForm() {
      this.validateForm();

      if (!this.formIsValid) {
        return;
      }

      const formData = {
        id: this.id,
        title: this.title.val,
        artist: this.artist.val,
        released_in: this.released_in.val,
      };

      this.$emit('save-data', formData);
    },
  },
};
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>