<template>
  <button v-if="!link" :class="mode">
    <slot></slot>
  </button>
  <router-link v-else :to="to" :class="mode">
    <slot></slot>
  </router-link>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      required: false,
      default: null
    },
    link: {
      type: Boolean,
      required: false,
      default: false
    },
    to: {
      type: String,
      required: false,
      default: '/'
    }
  }
}
</script>

<style scoped>
button,
a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font: inherit;
  background-color: #00a170;
  border: 1px solid #00a170;
  color: white;
  cursor: pointer;
  margin-right: 0.5rem;
  display: inline-block;
}

button.entry,
a.entry {
  font-size: 12px;
}

a:hover,
button:hover {
  background-color: #34568b;
  border-color: #34568b;
}

.flat {
  background-color: transparent;
  color: #34568b;
  border: none;
}

.outline {
  background-color: #b55a30;
  border-color: #b55a30;
  color: white;
}

.flat:hover,
.outline:hover {
  background-color: #f5df4d;
  border-color: #f5df4d;
  color: black;
}
</style>